{% extends 'base.html' %}

{% load static %}

{% block scripts %}
{% endblock %}

{% block content %}
    <p>
	Search for slot by day:
	<form  method="post" action=" ">
	    {{ form }}
	    <input type="submit" value="Submit">
	</form>
    </p>
    <table style="width:100%">
	<tr>
	    <th></th>
	    <th>Start Time</th>
	    <th>End Time</th> 
	    <th>Location</th>
	    <th>Doctor</th>
	</tr>
	{% for slot in ui_slots %}
	    <tr>
		<td><a href="{% url 'fill_slot' slot.4 %}">Click to Fill Slot</a></td>
		<td>{{ slot.0 }}</td>
		<td>{{ slot.1 }}</td> 
		<td>{{ slot.2 }}</td>
		<td>{{ slot.3 }}</td>
	    </tr>
	{% endfor %}
    </table>
    {% comment %}
	{% if msg %}
	    <pre>
		{{ msg|linebreaksbr }}
	    </pre>
	{% endif %}
    {% endcomment %}
{% endblock %}
